.pairItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.input {
  width: 60px;
  color: #252525;
  text-align: end;
  background-color: #fff;
  border: 1px solid #666;
  padding: 1px 3px;
  flex-grow: 1;

  &::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.currency {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  width: 30px;
}

.resultValue {
  flex-grow: 1;
  padding: 2px;
  text-align: end;
  line-height: 16px;
  margin: 0;
  width: 60px;
  border: 1px solid #ddd;
}

.button {
  background-color: 'transparent';
  width: 18px;
  height: 18px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  font-weight: 700;
  padding: 2px;
  border: 1px solid #ccc;

  &:hover {
    cursor: pointer;
    background-color: #ddd;
  }
}

.buttonSwitch {
  margin-left: 6px;
  line-height: 0.9;
}

.buttonDelete {
  line-height: 0.95;
}
